<div class="container-fluid px-6">

  <div class="card">
    <h2 class="mb-2">Clause Details</h2>

      <%= simple_form_for @clause, url: clauses_path, method: :post do |f| %>

      <div id="clause-container">
        <div class="d-flex justify-content-between">
            <%= f.input :cp_form,
                        input_html: { class: "form-control" },
                        label: "CP-Form",
                        required: true %>

            <%= f.input :title,
                        input_html: { class: "form-control" },
                        label: "Title",
                        required: true %>

            <%= f.input :paragraph,
                        input_html: { class: "form-control" },
                        label: "Paragraph",
                        required: true %>

        </div>
      </div>

      <div class="d-flex">
        <div class="flex-shrink-1 pr-2">
          <%= f.input :id,
                      input_html: { disabled: "disabled" },
                      label: "Chronos ID",
                      required: true %>
        </div>
        <div class="w-100 flex-grow-1">
          <%= f.input :wording,
                      input_html: { rows: 12 },
                      label: "Wording",
                      required: true %>
        </div>
      </div>

      <div class="text-right">
        <%= f.button :button, class: "btn btn-primary btn-curious-blue" do %>
        Submit Single Clause
        <% end %>
      </div>

      <% end %>
  </div>
</div>
