<div class="container-fluid px-6">

  <form class="form-inline mt-3 py-1 mb-3">
    <%= link_to "ADD SINGLE CLAUSE", new_clause_path, class: "btn btn-curious-blue btn-lg form-group mr-4" %>
    <div class="active-cyan-4">
      <input class="form-control form-group" type="text" placeholder="Search" aria-label="Search" name="query">
    </div>
  </form>

  <div class="card">
    <h2>Clauses</h2>
    <div class="table-responsive">
      <table class="table-striped table borderless">
        <thead>
          <tr>
            <th>Parent</th>
            <th>Title</th>
            <th>Wording</th>
            <th class="adjust-width">Clause ID</th>
            <th>+</th>
          </tr>
        </thead>

        <tbody>
          <% @clauses.each do |clause| %>
          <tr>
            <td><%= "#{clause.cp_form.upcase}" + " " + "#{clause.parent_relation}" %></td>
            <td>
              <div class=row">
                <div class="col">
                  <%= "#{clause.title.titleize}" %>
                </div>
                <div class="col">
                  <%= "#{clause.paragraph}" %>
                </div>
              </div>
            </td>
            <td><%= clause.wording %></td>
            <td><%= clause.id %></td>
            <td>
             <button id="btnGroupDrop1" type="button" class="btn btn-curious-blue dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions</button>
             <div class="dropdown-menu" role="menu">
              <%= link_to "Amend details", edit_clause_path(clause), class: "dropdown-item" %>
              <%= link_to 'Delete',
              clause_path(clause),
              method: :delete,
              data: { confirm: 'Are you sure you want to delete this item?' }, class: "dropdown-item" %>
              <%= link_to "Request bloc change", "", class: "dropdown-item" %>
            </div>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


