<tr>
  <!-- Loading Port -->
  <td class="align-middle"><%= cargo.load_port unless suppressed_fields[:load_port] %></td>
  <!-- Loading Terminal -->
  <td class="align-middle"><%= cargo.load_terminal unless suppressed_fields[:load_terminal] %></td>
  <!-- Loading Berth -->
  <td class="align-middle"><%= cargo.load_berth unless suppressed_fields[:load_berth] %></td>
  <!-- Obl -->
  <td class="align-middle"><%= cargo.obl %></td>
  <!-- Cargo Name -->
  <td class="align-middle"><%= cargo.name %></td>
  <!-- Qty - Mts -->
  <td class="align-middle"><%= cargo.quantity_mts %></td>
</tr>
