<tr data-link="<%= fixture_path(fixture) %>">
  <!-- Vessel -->
  <td class="align-middle"><%= fixture.vessel_name %></td>
  <!-- Voyage No. -->
  <td class="align-middle"><%= fixture.voyage_number %></td>
  <!-- Charterer -->
  <td class="align-middle"><%= fixture.charterer %></td>
  <!-- Demurrage Est. -->
  <td class="align-middle"><%= number_to_currency(fixture.total_demurrage, precision: 0, delimiter: ' ', unit: "USD", format: "%n %u" ) %></td>
  <!-- Fixture (Ref. No) -->
  <td class="align-middle"><%= fixture.reference_no %></td>
  <!-- Required -->
  <td class="align-middle"><%= fixture.required_action %></td>
  <!-- Voyage Status -->
  <td class="align-middle"><%= fixture.days_until_completion %></td>
  <!-- voy status -->
  <td class="align-middle"><%= fixture.voyage_status %></td>
  <!-- + -->
  <td class="align-middle">
    <%= link_to "Demurrage Report", fixture_events_path(fixture), class: "btn special-btn-outline" %>
  </td>
</tr>
