<% @obls = [] %>
<% event.cargo_handlings.each do |handling| %>
  <% @obls << handling.fixture_cargo.obl %>
<% end %>

<tr>
  <!-- title -->
  <td class="align-middle"><%= event.title %></td>
  <!-- obl -->
  <td class="align-middle"><%= @obls.join('') if @obls.length == 1 %></td>
  <!-- date -->
  <td class="align-middle"><%= event.datetime.day %> / <%= event.datetime.month %></td>
  <!-- time -->
  <td class="align-middle"><%= event.datetime.to_time.strftime "%H:%M" %></td>
  <!-- counting -->
  <td class="align-middle"><%= event.counting %></td>
  <!-- Laytime -->
  <td class="align-middle">
    <% if event.laytime > 0.to_f %>
      <%= event.laytime.to_i / 60 %>:<%= event.laytime.to_i % 60 %>
    <% end %>
  </td>
  <!-- optional -->
  <td class="align-middle">  </td>
  <!-- optional -->
  <td class="align-middle"> .. </td>
</tr>
