<div class="container-fluid px-6 pb-3">

  <div class="events__voyage-details">
    <h2 class="mb-2">
      <%= link_to fixture_path(@fixture) do %>
        <i class='fas fa-chevron-left'></i>
      <% end %>&nbsp;&nbsp;
      Demurrage Report
    </h2>

    <div class="fixture-details">
      <div class="fixture-details-container">
        <%= render 'shared/fixture_details', fixture: @fixture %>
      </div>
      <div class="fixture-buttons-container">
        <%= link_to run_chronos_fixture_events_path, method: :post, class: "btn hover-btn", id: "chronos-btn" do %>
          <div class="svg-wrapper">
            <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
              <rect class="shape-chronos" height="60" width="320" />
              <div class="hover-text">RUN CHRONOS</div>
            </svg>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="events__events-table">
    <h2 class="mb-3 pb-3">Port Events</h2>

    <div class="import-file mb-4">
      <%= form_tag import_fixture_events_path, multipart: true do %>
        <span class="outset">
          <%= file_field_tag :file %>
          <%= submit_tag 'Upload SOF', class: "btn btn-curious-blue" %>
      <% end %>
        </span>
    </div>


    <% unless @port_events.nil? %>
        <% @port_events.each do |port, terminals| %>
          <%= render "events_table", port: port, terminals: terminals %>
        <% end %>
    <% end %>
  </div>

  <div class="events__demurrage-summary">
    <h2 class="">Summary</h2>

    <div class="row">
      <div class="col-md-8">
        <div class="summary-table">
          <table class="table table-sm table-striped">
            <thead>
              <tr>
                <th>Port</th>
                <th>Laytime Used</th>
                <th>Laytime Allowed</th>
                <th>Hours on Demurrage</th>
              </tr>
            </thead>
            <tbody>
              <% @laytime_summary.each do |port, mins| %>
                <%= render "summary_row", port: port, mins: mins %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <div class="demurrage-sum">
          <div class="demurrage-rate mt-1">
            <h5>Demurrage Rate</h5>
            <h5 class="double-underline"><%= number_to_currency(@fixture.demurrage_rate, precision: 0, delimiter: ' ', unit: "USD pdpr", format: "$%n %u") %></h5>
          </div>
          <div class="demurrage-rate mt-3">
            <h4>Invoice Amount</h4>
            <h4><%= number_to_currency(@fixture.total_demurrage, precision: 2, delimiter: ' ', unit: "USD", format: "$%n %u") %>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
